@{
    ViewBag.Title = "Calc result";
}

<div class="row">
    <div class="col-md-12">
        <h2>Calc result</h2>
        <p> Result of @ViewBag.Operation is: @ViewBag.Result.ToString() </p>
        <p><a class="btn btn-default" href="/Calc/Index">Back &raquo;</a></p> 
    </div>
</div>