@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET 5 learning project</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Implemented tasks</h2>
        <hr />
        <p>
            @Html.ActionLink("1. Task: Calculator", "Index", "Calc")<br />
            @Html.ActionLink("2. Task: Submit form", "Fill", "Data")<br />
            @Html.ActionLink("Final. Task: Simple twitter", "Index", "Tweet")<br />
        </p>
        <p>
            <a class="btn btn-default" href="/Calc/Index">Calc &raquo;</a>
            <a class="btn btn-default" href="/Data/Fill">Submit form &raquo;</a>
        </p>
    </div>
</div>