@model IEnumerable<WebApplication.Models.Tweet>

@{ var user = @ViewBag.TweetUser as WebApplication.Models.TweetUser; }

<h1>Tweets</h1>

@foreach (var item in Model) {
    @Html.TweetCard(item, user)
}